//-------------KEYFRAMES--------------//

/* Logo */

@keyframes leftToRight {
  from {
    margin-left: -500px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes topToBottom {
  from {
    position: relative;
    bottom: 200px;
  }
  to {
    position: relative;
    bottom: 0px;
  }
}

@keyframes onLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rightToLeft {
  from {
    position: relative;
    left: 1400px;
  } 
  to {
    position: relative;
    left: 0px;
  }
}

@keyframes fadeInNOut {
  0% {
    opacity: 0
  }

  25% {
    opacity: .5
  }

  50% {
    opacity: 1
  }

  75% {
    opacity: .5
  }

  100% {
    opacity: 1
  }
}

//--------- CALL TO ACTION ----------//

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4;
  }
}

@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}


//---------FADE IN ON SCROLL ---------//