//-----------VARIABLES-----------//

$blood: #d20000;
$red: #ab1323;
$black: #1c1c1c;
$soft-black: #2e2e2e;




body {
  margin: 0;
  padding: 0;
  background-color: $soft-black;
}

li {
  list-style: none;
}