
  @media #{$extra-large-and-up} {
    nav {
      height: 80px;
      text-align: center;
      background-color: white !important;
      -webkit-box-shadow: 0px 0px 81px 17px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 81px 17px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 81px 17px rgba(0, 0, 0, 0.38);
    }

    .nav_li {
      display: inline-block;
      list-style: none;
      margin-left: 40px;
      text-transform: uppercase;
      animation: topToBottom 1s;
    }

    .nav_a{
      text-decoration: none;
      color: $black;
      font-size: 20px;
      font-weight: bold;
      font-family: "ApleTime";
      letter-spacing: .18em;
    }

    .nav_a:hover {
      color: $blood;
      border-bottom: 2px solid $blood;
      -webkit-transition: .5s all;
      -moz-transition: .5s all;
      -ms-transition: .5s all;
      -o-transition: .5s all;
      transition: .5s all;
    }

    .nav_content {
      width: 1200px;
      height: 64px;
      margin: 0 auto;
      background-color: white;
    }

    .nav-link-wrapper {
      height: 64px;
      margin-left: 300px;
      position: relative;
    }

    .logo_wrapper {
      position: absolute;
      height: 64px;
    }

    .logo {
      color: black;
      margin: 17.5px 0;
      position: relative;
      font-size: 45px;
      animation: leftToRight 1s;
      text-transform: uppercase;
      top: -10px;
    }

    .contact_wrapper {
      background-color : $black;
      position: relative;
    }

    .contact_info {
      width: 1200px;
      margin: 0 auto;
      padding: 1px;
    }

    .envelope {
      font-size: 25px;
    }

    .contact_email__p {
      position: absolute;
      padding-top: 5px;
      margin: 0;
      left: 155px;
      bottom: 5px;
      font-size: 15px;
      color: $blood;
      text-transform: uppercase;
      font-family: Helvetica;
    }

    .social_media__a {
      position: relative;
      left: 1048px;
      margin-left: 15px;
    }

    .social-icon:hover {
      transform: scale(1.2);
    }

    .cart-header-wrapper {
      position: absolute;
      height: 30px;
      width: 27.8px;
      left: 840px;
      bottom: 30px;
    }

    .cartIcon-header {
      cursor: pointer;
    }

    .cart-totalItems {
      position: relative;
      color: black;
      bottom: 70px;
      left: 30px;
    }

    .hamburger {
      visibility: hidden;
      position: absolute; 
    }   
  }

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//     nav {
//       background-color: rgba(0, 0, 0, 0.8);
//     }
//     .nav_li {
//       display: block;
//       color: white;
//       font-size: 30px;
//       padding-top: 80px;
//       margin-left: 0px;
//     }

//     .closed {
//       position: absolute;
//       background-color: white;
//       top: -800px;
//       transition: .4s all;
//       width: 100%;
//       z-index: 1;
//     }

//     .open {
//       position: absolute;
//       top: 0px;
//       height: 578px;
//       transition: .7s all;
//       width: 102%;
//       z-index: 1;
//     }

//     .social_media_wrapper {
//       font-size: 20px;
//       margin-left: 30px;
//       margin-top: 50px;
//       width: 20px;
//     }

//     .hamburger {
//       position: absolute;
//       visibility: visible;
//       left: 255px;
//       z-index: 2;
//     }

//     .logo_wrapper {
//       visibility: hidden;
//     }
//}
