.home-wrapper-banner {
  max-height: 600px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.38);
}


.banner_coat {
  background-image: url('../../images/jamal_hamid_banner.jpeg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    width: 2840px;
    position: relative;
    top: -100px;
    left: -700px;
    overflow-y: 500px;
    animation: onLoad 4s;
}

.banner_text_wrapper {
  margin: 0;
  position: absolute;
  z-index: 1;
  color: $blood;
  font-size: 70px;
  font-family: "Fjalla One";
  width: 1440px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.5);
}

.slogan {
  position: relative;
  font-size: 90px;
}

.left-banner__slogan {
  top: 30px;
  left: 100px;
  animation: leftToRight 4s;
}

.right-banner__slogan {
  top: 30px;
  left: 30px;
  animation: leftToRight 4s;
}

.training_package_wrapper {
position: relative
}

.training_package__text {
  font-size: 30px;
  position: absolute;
  left: 1000px;
  margin: 0;
  color: $blood;
  top: 150px;
  animation: onLoad 6s;
}

.home_banner-cta{
  position:absolute;
  left: 1060px;
  top: 200px;
  animation: onLoad 6s;
  font-size: 20px;
  background-color: $blood;
}

//-------------- AFTER LANDING PAGE BANNER ------------//

.home-services-wrapper {
  width: 1440px;
  color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}

div.col.s1.home-services-icon-col, div.col.s2.home-services-content-col {
  width: 100%;
  text-align: center;
}

.home-services-icon {
  text-align: center;
}

div.col.s2.home-services-content-col {
  padding-top: 25px;
  line-height: $large-height;
}

//----------HOME SERVICES HEADER-------------//
.home-services-header {
  font-family: "ApleTime";
  margin: 0;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

//-----------HOME SERVICES ROW--------------//

.home-services-row {
  padding-top: 50px;
  margin-bottom: 40px;
  width: 1220px;
}

.home-services-title {
  
}

.home-services-info {
  width: 250px;
  margin: 0 auto;
}

//-----------NUTRITION PLAN SERVICES-------------//
.nutrition-plan-benefits {
  margin: 10px auto;
}

//-------------JOIN ME BANNER-------------//

.join-me-banner{
  background-image: url('../../images/services-parallex.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  background-attachment: fixed;
  position: relative;
}

.join-me-slogan {
  font-size: $xxx-large;
  color: $blood;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  text-align: center;
  top: 255px;
}

