.form-wrapper {
  background-color: green;
  box-shadow: 0px 0px 200px black;
  max-width: 900px;
  margin: 50px auto;
  display: flex;
}

.wizard-form-wrapper {
  padding: 20px;
  width: 600px;
  flex: 1;
}

.isHidden {
  visibility: hidden;
}

.personal-form-detail-wrapper{
  flex: 2;
  box-shadow: 0px 0px 40px $black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.firstName-label, .lastName-label, .email-label {
  text-transform: uppercase;
}

//------------PERSONAL FORM DETAIL------------//

.personal-form-detail__top{
  flex: 1;
}

.personal-form-detail__bottom{
  flex: 1; 
}

//------------FIRST/LASTNAME INPUT/LABEL----------//

.firstName-label, .lastName-label {
  position: absolute;
  top: 280px;
}

.lastName-label{
  margin-left: 84px;
}


.firstName-input, .lastName-input, .email-input {
  font-size: 25px;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.lastName-input {
  margin-left: 84px;
}

//-------------EMAIL INPUT/LABEL------------//

.email-label {

}

.email-input {

}


