
//--------WRAPPERS--------//

.services-container{
  height: 500px;
}

.services-wrapper {
  display: flex;
  height: 100%;
  margin: 50px auto;
  position: relative;
}

//-----PACKAGES-------//

.package-wrapper {
  background-color: white;
  flex: 1;
  justify-content: space-between; 
  height: 400px;
  margin: 40px;
  position: relative;
  top: 60px;
  text-align: center;
  box-shadow: 0px 0px 50px $black;
}

//--------SERVICES HEADER-------//

.services-header{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 440px;
  font-size: $xx-large;
  text-align: center;
}

//-------PACKAGE TOP/BOTTOM ------//

.package-top, .package-bottom {
  width: 220px;
  margin: 10px auto;
}

.package-top {
  height: 300px;
}

.package-list-wrapper {
  text-align: left;
  font-size: $medium-font;
}

.package-header{
  font-size: $large-font;
}

.package-price {
  font-size: $medium-font;
}


//------SERVICES PARALLEX----//

.services-parallex {
  background: #f00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f00000, #dc281e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f00000, #dc281e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


  // background-image: url('../../images/services-parallex.jpeg');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // width: 1440px;
  // min-height: 450px;