
//---------ERROR MESSAGE--------//

.error {
  position: absolute;
  top: -30px;
  color: $red;
  border-bottom: 1px solid $red;
}

//------OVERRIDING REACT-MATERIALIZE-UI -----------//

div.row > div.row.col > div.col > input{
  box-shadow: none;
}

form.col.s12 > div.row.col.s12 > div.col.s12 > input{
  box-shadow: none;
}

// form.col.s12 > div.row.col.s12 > div.ageField > input{
//   box-shadow: none;
// }

@media #{$extra-large-and-up}{
  div.row.col.s12 >  .testing {
    width: 163.6px;
    padding: 0;
  }

  form.col.s12 > div.col.s3 > div.col.s3 > div.ageField > input {
    box-shadow: none;
  }

  //------------------------------//

  
  //------------WIZARD FORM ONE----------//
  .wizardFormOne {
    width: 700px;
    margin: 50px;
  }

  //-------------- INPUT FIELDS ------------//
  .wizardFormOneBottomRow {
    padding: 0;
  }

  .heightField,
  .genderField,
  .ageField {
    max-width: 90%;
  }
}





