
//---------ERROR MESSAGE--------//

.error {
  position: absolute;
  top: -30px;
  color: $red;
  border-bottom: 1px solid $red;
}

//------OVERRIDING REACT-MATERIALIZE-UI -----------//

// div.row > div.col.input-field.s6 > div > div > input.prefix {
//   width: 0%; 
// }

// div.col.input-field.s3 > div.col.input-field > div > div > input.prefix {
//   width: 0%; 
// }

// div.col.input-field.s6 > label.active:focus {
//   color: red;
// }

// div.col.input-field.s12 > div > div > input.prefix {
//   width: 0%;
// } 

div.row > div.row.col > div.col > input{
  box-shadow: none;
}

form.col.s12 > div.row.col.s12 > div.col.s12 > input{
  box-shadow: none;
}

//------------------------------//


//------------WIZARD FORM ONE----------//

.wizardFormOne {
  width: 700px;
  margin: 50px;
}




